<% if request.path == '/public_recipes' %>
  <h1 class="text-center mb-3">Public Recipes</h1>
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <% if recipe.public %>
        <%= render recipe %>
      <% end %>
    <% end %>
  </div>
<% elsif request.path == '/recipes' %>
  <div class="d-flex justify-content-between align-items-center">
    <h1>My Recipes</h1>
    <%= link_to "New recipe", new_recipe_path, class: "btn btn-primary" %>
  </div>
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <% if recipe.user == current_user %>
        <%= render recipe %>
      <% end %>
    <% end %>
  </div>
<% end %>
<% if @recipes.empty? %>
  <p class="text-center fs-4"> Sorry, no recipes available.</p>
<% end %>
